/service-ws/service-ws-base-util/target/
/service-ws/service-ws-impl/target/
/service-ws/service-ws-webapp/target/
/service-ws/service-ws-api/target/
/service-core/service-model/target/
/service-core/service-dao/target/
/service-crypt/target/
/service-ws/service-ws-webapp/war/WEB-INF/classes/